# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# WALLET_MNEMONIC=
# PIGSHOP_ADDRESS=
# ADMIN_MNEMONIC=
# TESTNET=
# TONAPI_API_KEY=
# TESTNET_TONCENTER_APIKEY=
# MAINNET_TONCENTER_APIKEY=
