.store-container {
  .body-container {
    display: flex;
    height: 50vh;

    .earnings-container {
      height: 50vh;
      width: 35%;
      text-align: center;
    }

    .preview-container {
      height: 50vh;
      width: 65%;
      text-align: center;
      .main-cover {
        width: 90%;
        border-radius: 0.5rem;
      }
    }
  }
  .footer-container {
    .item-slides-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 0 5px;
      .item-slide {
        cursor: pointer;
        width: 30%;
        .item-slide-cover {
          width: 100%;
          border-radius: 0.5rem;
        }
        &.--selected {
          opacity: 0.8;
          margin-bottom: 0.6rem;
        }
        &.--disabled {
          opacity: 0.3;
          // cursor: not-allowed;
        }

        .badge {
          width: 70%;
          background-color: #cccccc8a;
          height: 2px;
          margin: auto;
        }
      }
    }
    .active-item-details-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.5rem;
      h3 {
        font-size: 18px;
      }
      h4 {
        margin: 10px;
      }
      .item-purchase-action {
        text-align: center;
      }
    }
  }
}
