.bank-container {
  .yellow {
    color: #ffbe0b;
    font-weight: bold;
    font-size: 20px;
  }
  .thick {
    font-weight: 200;
    color: #facefd;
  }
  .slide-title {
    font-weight: bold;
    color: #c23970;
    font-size: 32px;
  }
  .slide-title-container {
    font-size: 32px;
  }
  .slider-slide > .title {
    margin-top: 3px;
  }
  .slider-slide > .hint {
    margin-bottom: 15px;
  }

  .suggestion-container {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #0b0b0b;
    border-top: 2px solid #ffbe0b;
    border-bottom: 2px solid #ffbe0b;
    display: flex;
    justify-content: space-between;
    .text {
      h2,
      h3 {
        margin: 0;
        margin-bottom: 4px;
        font-size: 26px;
        font-weight: 200;

        &.bold {
          font-weight: bold !important;
          color: #c23970 !important;
        }
      }
      h3 {
        font-size: 20px;
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      .action-img {
        width: 74px;
      }
      .action-btn {
        height: 32px;
        background-color: #2cc48f;
        color: #fff;
        border-radius: 34px;

        h6 {
          font-size: 26px;
        }
      }
    }
  }
  .balance-container {
    margin-left: 15px;
    text-align: center;

    .withdraw-btn {
      margin-top: 10px;
      height: 32px;
      color: #691d82;
      border-radius: 34px;
      &.normal {
        background-color: #e73d74;
      }
      &.warning {
        background-color: #ebb319;
      }
    }
    .balance-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .ton-icon {
      width: 42px;
    }
    .text {
      font-size: 26px;
      h4 {
        display: inline;
      }
      .earning {
        color: #ffbe0b;
      }
      .total {
        font-weight: 200;
        color: #facefd;
      }
    }
  }
}
// .store-container {
//   .body-container {
//     display: flex;
//     height: 50vh;

//     .earnings-container {
//       height: 50vh;
//       width: 35%;
//       text-align: center;
//     }

//     .preview-container {
//       height: 50vh;
//       width: 65%;
//       text-align: center;
//       .main-cover {
//         width: 90%;
//         border-radius: 0.5rem;
//       }
//     }
//   }
//   .footer-container {
//     .item-slides-container {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       gap: 10px;
//       padding: 0 5px;
//       .item-slide {
//         cursor: pointer;
//         width: 30%;
//         .item-slide-cover {
//           width: 100%;
//           border-radius: 0.5rem;
//         }
//         &.--selected {
//           opacity: 0.8;
//           margin-bottom: 0.6rem;
//         }
//         &.--disabled {
//           opacity: 0.3;
//           // cursor: not-allowed;
//         }

//         .badge {
//           width: 70%;
//           background-color: #cccccc8a;
//           height: 2px;
//           margin: auto;
//         }
//       }
//     }
//     .active-item-details-container {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       padding: 0 0.5rem;
//       h3 {
//         font-size: 18px;
//       }
//       h4 {
//         margin: 10px;
//       }
//       .item-purchase-action {
//         text-align: center;
//       }
//     }
//   }
// }
