.main-footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  bottom: 0;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
}
.main-footer-container .footer-item {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 16px 8px;
}
.main-footer-container .footer-item:hover {
  opacity: 0.7;
  color: #ffbe0b;
}
.main-footer-container .footer-item:active {
  opacity: 0.5;
  color: #ffbe0b;
}
.main-footer-container .footer-item img {
  width: clamp(2rem, 6vh, 48px);
  height: auto;
}
.main-footer-container .footer-item h4 {
  margin-top: 0.2rem;
}
.main-footer-container .footer-item.--active h4 {
  color: #ffbe0b;
}
