.profile-container .user-cards-container {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  gap: 0.5rem;
}
.profile-container .user-cards-container .user-card {
  border-radius: 9px;
  background-color: rgba(204, 204, 204, 0.1294117647);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.profile-container .user-cards-container .user-card.--invited-by-me {
  background-color: rgba(0, 128, 0, 0.2);
}
.profile-container
  .user-cards-container
  .user-card:nth-child(odd):not(:last-child) {
  border-right: none;
}
.profile-container .user-cards-container .user-card .user-name,
.profile-container .user-cards-container .user-card .invited {
  font-size: 12px;
  margin: 0;
}
.profile-container .user-cards-container .user-card .inline-box .invited {
  font-size: 10px;
}
.profile-container .tgui-1c6d7865a76a19bc {
  width: 100%;
}
.profile-container .pig-icon {
  height: 50px;
}
.profile-container .user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
