.profile-container {
  .user-cards-container {
    .user-card {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid #cccccc4d;
      }
    }
  }

  .tgui-1c6d7865a76a19bc {
    width: 100%;
  }
}
