.profile-container {
  .user-cards-container {
    display: grid;
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    gap: 0.5rem;
    .user-card {
      border-radius: 9px;
      background-color: #cccccc21;

      &.--invited-by-me {
        background-color: #00800033;
      }
      &:nth-child(odd) {
        &:not(:last-child) {
          border-right: none;
        }
      }

      .user-name,
      .invited {
        font-size: 12px;
        margin: 0;
      }

      .inline-box {
        // display: flex;
        .invited {
          font-size: 10px;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
    }
  }

  .tgui-1c6d7865a76a19bc {
    width: 100%;
  }

  .pig-icon {
    height: 50px;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
